{% extends "base.html" %}

    <main>
      {% block content %}
          <div class="flex flex-col md:flex-row justify-evenly">
            <div class="border-2 border-indigo-200 py-4 px-8 rounded-lg shadow-lg my-8">
              <h2 class="text-2xl text-center font-bold mb-4">Group List</h2>
              <table class="table-auto w-full border-collapse border border-sky-900 ">
            <thead>
            <tr class="bg-gray-100">
                <th class="border border-sky-900 px-8 md:px-28 py-2">Group Name</th>
                <th class="border border-sky-900 px-8 md:px-28 py-2">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for group in groups %}
                <tr class="odd:bg-white even:bg-gray-50">
                <td class="border border-sky-900 px-8 md:px-28 py-2 text-lg font-medium">
                    <p> {{group.name}} </p>
                </td>
                <td class="border border-sky-900 px-8 md:px-28 py-2">
                    <form method="POST" action="{% url 'delete-group' group.id %}">
                    {% csrf_token %}
                    <button type="submit" class="text-white bg-red-600 px-2 hover:font-medium">Delete</button>
                    </form>
                </td>
                </tr>
            {% endfor %} 
            </tbody>
        </table>
            </div>

            <div class="border-2 border-sky-200 p-6 md:px-28 rounded-lg shadow-lg my-8">
              <h2 class="text-2xl text-center font-bold mb-4">Today's Events</h2>
              <ul class="space-y-2">
              {% for event in todays_event %}
                <li class="bg-gray-50 py-4 px-12 md:px-24 rounded shadow">
                  <a href="{% url 'event-detail' event.id %}" class="md:mr-6 text-sky-800 text-lg md:text-xl font-medium">{{ event.title }}</a>
                  <p class="text-sm text-gray-600">Time: {{ event.time }} || Location: {{ event.location }}</p>
                </li>
              {% empty %}
                <p class="text-gray-500 text-center text-lg py-4 italic">No events for today.</p>
              {% endfor %}
              </ul>
            </div>
          </div>

          <div class="mt-6">
            <h2 class="text-center text-2xl font-bold">User details<h2>
            {% include "admin/user_list.html" %}
          </div>
      {% endblock content %}
    </main>

    <script>
      document
        .getElementById("menu-toggle")
        .addEventListener("click", function () {
          document.getElementById("mobile-menu").classList.toggle("hidden");
        });

      document
        .getElementById("user-menu-button")
        .addEventListener("click", function () {
          document.getElementById("user-menu").classList.toggle("hidden");
        });

      // Close the dropdown when clicking outside
      window.addEventListener("click", function (e) {
        if (!document.getElementById("user-menu-button").contains(e.target)) {
          document.getElementById("user-menu").classList.add("hidden");
        }
      });
    </script>