{% extends "base.html" %}
{% block content %}
    <div class='mx-auto w-1/2 my-9'>
        <h1 class='text-xl md:text-2xl font-semibold py-6 text-center text-yellow-700'>Welcome to Evento</h1>
        <div>
        {% if form.non_field_errors %}                  
            {% for error in form.non_field_errors %}
               {{error}}
            {% endfor %}                    
        {% endif %}

        <form action="" method="POST">
            {% csrf_token %}

            {% for field in form %}
            <p>
                <label for="{{field.id_for_label}}"> {{field.label}} </label>
                {{field}}

                {% if field.errors %}
                    <ul>
                        {% for error in field.errors %}
                            <li> {{error}} </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </p>
            {% endfor %}

            <button class='bg-yellow-600 text-white px-8 py-1 rounded-sm mt-4' type="submit" type="submit">Sign Up</button>
        </form>
        </div>
    </div>
    {% endblock content %}