
<header class="bg-slate-800 text-white shadow-md border-b border-amber-500">
    <nav class="container mx-auto px-6 py-3">
      <div class="flex justify-between items-center">
        <div class="text-2xl italic font-bold">Evento</div>
        
        <div class="hidden md:flex space-x-4 justify-center items-center">
          <a href="/" class="hover:text-amber-400 hover:font-medium">Home</a>
          <a href="{% url 'dashboard' %}" class="hover:text-amber-400 hover:font-medium">Dashboard</a>
          <a href="{% url 'show-events' %}" class="hover:text-amber-400 hover:font-medium">Events</a>

          {% if request.user.groups.all.0.name == 'Organizer' %}
          <a href="{% url 'create-event' %}" class="hover:text-amber-400 hover:font-medium">Create-Event</a>
          {% endif %}

          {% if request.user.groups.all.0.name == 'Admin' %}
          <a href="{% url 'create-event' %}" class="hover:text-amber-400 hover:font-medium">Create-Event</a>
          <a href="{% url 'group-list' %}" class="hover:text-amber-400 hover:font-medium">Groups</a>
          <a href="{% url 'create-group' %}" class=" hover:text-amber-400 hover:font-medium">Create-Group</a>
          {% endif %}
        </div>        
          
          <div class="flex items-center">
                  <div class="relative">
                    <button
                      id="user-menu-button"
                      class="flex rounded-full border border-white items-center focus:outline-none"
                    >
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
                      </svg>

                    </button>
                    <div
                      id="user-menu"
                      class="absolute right-0 mt-2 w-48 bg-white rounded-md shadow-lg py-1 hidden"
                    >
                      <a
                        href="{% url 'admin-dashboard' %}"
                        class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                        >Dashboard</a
                      >
                      <a
                        href="{% url 'profile' %}"
                        class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                        >Profile</a
                      >
                      <form action="{% url 'sign-out' %}" method="POST">
                        {% csrf_token %}
                        <button type="submit"
                        class="block px-4 py-2 rounded-lg border-2 border-amber-500 shadow text-amber-500 font-bold hover:font-extrabold"
                        >Logout</button>
                      </form>
                    </div>
                  </div>
                  <div class="md:hidden ml-4">
                    <button id="menu-toggle" class="rounded focus:outline-none">
                      <svg class="w-6 h-6 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
                      </svg>
                    </button>
                  </div>
          </div>
      </div>
        
        
      <div id="mobile-menu" class="hidden md:hidden mt-4 space-y-2">
        <a href="/" class="block py-2 hover:text-amber-400 hover:font-medium">Home</a>
        <a href="{% url 'dashboard' %}" class="block py-2 hover:text-amber-400 hover:font-medium">Dashboard</a>
        <a href="{% url 'show-events' %}" class="block py-2 hover:text-amber-400 hover:font-medium">Events</a>

        {% if request.user.groups.all.0.name == 'Organizer' %}
        <a href="{% url 'create-event' %}" class="block py-2 hover:text-amber-400 hover:font-medium">Create-Event</a>
        {% endif %}

        {% if request.user.groups.all.0.name == 'Admin' %}
        <a href="{% url 'create-event' %}" class="block py-2 hover:text-amber-400 hover:font-medium">Create-Event</a>
        <a href="{% url 'group-list' %}" class="block py-2 hover:text-amber-400 hover:font-medium">Groups</a>
        <a href="{% url 'create-group' %}" class=" block py-2 hover:text-amber-400 hover:font-medium">Create-Group</a>
        {% endif %}

            <div class="block py-2">
                  <form action="{% url 'sign-out' %}" method="POST">
                    {% csrf_token %}
                    <button type="submit"
                    class="px-4 py-1.5 rounded-lg border-2 border-amber-500 shadow text-amber-500 hover:font-medium"
                    >Logout</button>
                  </form>
            </div>
      </div>
    </nav>
  </header>

