{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Management</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/005f451dab.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% comment %} <link rel="stylesheet" href="{% static 'css/output.css' %}"> {% endcomment %}
</head>
<body>
  {% include "navbar.html" %}
      <main>
        {% comment %} Banner {% endcomment %}
        <div class="banner h-96 w-full text-center text-yellow-50 flex flex-col justify-center px-4 bg-cover bg-center">
          <h1 class="text-4xl md:text-6xl font-semibold text-yellow-50">WE'RE ON A MISSION TO BRING PEOPLE TOGETHER</h1>
          <h5 class="text-yellow-50 text-lg md:text-xl py-4">Technology || Corporate Event || Exhibition Stall || Music</h5>
          
          <div class="flex flex-col md:flex-row justify-center gap-4">
            
              
                <a href="{% url 'show-events' %}" class="flex items-center rounded border border-white bg-yellow-700 py-1 px-6 text-center text-sm text-white shadow-lg" type="button">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4 mr-2">
                    <path fill-rule="evenodd" d="M10.5 3.75a6.75 6.75 0 1 0 0 13.5 6.75 6.75 0 0 0 0-13.5ZM2.25 10.5a8.25 8.25 0 1 1 14.59 5.28l4.69 4.69a.75.75 0 1 1-1.06 1.06l-4.69-4.69A8.25 8.25 0 0 1 2.25 10.5Z" clip-rule="evenodd" />
                  </svg>
             
                  Search events...
                </a> 
              
                <a href="{% url 'create-event' %}" class="bg-yellow-700 hover:font-medium shadow-xl rounded border py-2 px-8 border-white text-center text-sm text-white">PLAN YOUR EVENT</a>
            
          </div>
        </div>
  

        {% comment %} Event by category {% endcomment %}
        <div class='bg-stone-100 px-3 pb-8'>
          <h1 class="text-2xl md:text-3xl font-semibold py-6 text-center text-yellow-700">Event by Category</h1>
          <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6">
            
            {% comment %} TECHNOLOGY {% endcomment %}
            <a href="{% url 'events-by-category' %}?category=1"
              class="{% if request.GET.category == '1' %}border-b-4 border-blue-900{% else %}border-transparent{% endif %}">
              <div class="bg-white rounded-xl p-6 shadow-sm flex justify-between items-center">
                <h3 class="text-lg font-medium text-yellow-600">TECHNOLOGY</h3>
                  <div class="bg-yellow-100 p-3 rounded-full">
                    <svg
                     xmlns="http://www.w3.org/2000/svg" 
                     fill="none" 
                     viewBox="0 0 24 24" 
                     stroke-width="1.5" 
                     stroke="currentColor" 
                     class="size-6">
                      <path
                       stroke-linecap="round" 
                       stroke-linejoin="round" 
                       d="M8.25 3v1.5M4.5 8.25H3m18 0h-1.5M4.5 12H3m18 0h-1.5m-15 3.75H3m18 0h-1.5M8.25 19.5V21M12 3v1.5m0 15V21m3.75-18v1.5m0 15V21m-9-1.5h10.5a2.25 2.25 0 0 0 2.25-2.25V6.75a2.25 2.25 0 0 0-2.25-2.25H6.75A2.25 2.25 0 0 0 4.5 6.75v10.5a2.25 2.25 0 0 0 2.25 2.25Zm.75-12h9v9h-9v-9Z" />
                    </svg>
                  </div>
              </div>
            </a>
            {% comment %} CORPORATE EVENTS {% endcomment %}
            <a href="{% url 'events-by-category' %}?category=2"
              class="{% if request.GET.category == '2' %}border-b-4 border-blue-900{% else %}border-transparent{% endif %}">
              <div class="bg-white rounded-xl p-6 shadow-sm flex justify-between items-center">
                <h3 class="text-lg font-medium text-yellow-600">CORPORATE EVENTS</h3>
                  <div class="bg-yellow-100 p-3 rounded-full">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M12 18v-5.25m0 0a6.01 6.01 0 0 0 1.5-.189m-1.5.189a6.01 6.01 0 0 1-1.5-.189m3.75 7.478a12.06 12.06 0 0 1-4.5 0m3.75 2.383a14.406 14.406 0 0 1-3 0M14.25 18v-.192c0-.983.658-1.823 1.508-2.316a7.5 7.5 0 1 0-7.517 0c.85.493 1.509 1.333 1.509 2.316V18" />
                    </svg>
                  </div>
              </div>
            </a>
            {% comment %} EXHIBITION STALL {% endcomment %}
            <a href="{% url 'events-by-category' %}?category=3"
            class="{% if request.GET.category == '3' %}border-b-4 border-blue-900{% else %}border-transparent{% endif %}">
              <div class="bg-white rounded-xl p-6 shadow-sm flex justify-between items-center">
                <h3 class="text-lg font-medium text-yellow-600">
                  EXHIBITION STALL
                </h3>
                  <div class="bg-yellow-100 p-3 rounded-full">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 21v-7.5a.75.75 0 0 1 .75-.75h3a.75.75 0 0 1 .75.75V21m-4.5 0H2.36m11.14 0H18m0 0h3.64m-1.39 0V9.349M3.75 21V9.349m0 0a3.001 3.001 0 0 0 3.75-.615A2.993 2.993 0 0 0 9.75 9.75c.896 0 1.7-.393 2.25-1.016a2.993 2.993 0 0 0 2.25 1.016c.896 0 1.7-.393 2.25-1.015a3.001 3.001 0 0 0 3.75.614m-16.5 0a3.004 3.004 0 0 1-.621-4.72l1.189-1.19A1.5 1.5 0 0 1 5.378 3h13.243a1.5 1.5 0 0 1 1.06.44l1.19 1.189a3 3 0 0 1-.621 4.72M6.75 18h3.75a.75.75 0 0 0 .75-.75V13.5a.75.75 0 0 0-.75-.75H6.75a.75.75 0 0 0-.75.75v3.75c0 .414.336.75.75.75Z" />
                    </svg>
                  </div>
              </div>
            </a>
            {% comment %} MUSIC {% endcomment %}
            <a href="{% url 'events-by-category' %}?category=4"
            class="{% if request.GET.category == '4' %}border-b-4 border-blue-900{% else %}border-transparent{% endif %}">
              <div class="bg-white rounded-xl p-6 shadow-sm flex justify-between items-center">
                <h3 class="text-lg font-medium text-yellow-600">MUSIC</h3>
                  <div class="bg-yellow-100 p-3 rounded-full">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="2"
                      stroke="currentColor"
                      class="w-6 h-6"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                      />
                    </svg>
                  </div>
              </div>
            </a>
            
          </div>
            {% comment %} search by date {% endcomment %}
            <form method="GET" class="flex justify-end mt-6 mx-10">
                <div class="flex flex-col md:flex-row gap-4 bg-white px-4 py-2 rounded-lg shadow-md">
                  <div class="flex items-center">
                    <label class="text-gray-700 font-medium" for="start_date">Start_Date: </label>
                    <input class="text-gray-400 border rounded-lg p-2" type="date" name="start_date">
                  </div>
    
                  <div class="flex items-center">
                    <label class=" text-gray-700 font-medium" for="end_date">End_Date: </label>
                    <input class="text-gray-400 border rounded-lg p-2" type="date" name="end_date">
                  </div>
    
                  <button class="bg-blue-500 text-white px-6 py-2 rounded-sm shadow hover:bg-blue-600" type="submit">Filter</button>
                </div>
            </form> 
            
          {% comment %} Dynamic Events {% endcomment %}
          {% for event in events %}
          <div class="flex flex-col md:flex-row justify-between items-center shadow-lg bg-amber-100 p-8 my-4 mx-4 md:mx-32 lg:mx-96">
            <div>
              <h2 class="text-lg "><span class="text-amber-800 font-medium">Event Title:</span> {{event.title}}</h2>
              <p><span class="text-amber-800 font-medium">Description:</span> {{event.description}}</p>
              <p><span class="text-amber-800 font-medium">Participants:</span> {{event.participant_count}}</p>
            </div>
            <div class="mt-4 md:mt-0">
            <a class="bg-yellow-600 text-white px-4 py-2 rounded shadow-sm hover:bg-yellow-700" href="{% url 'event-detail' event.id%}">Ticket and details</a>
            </div>
          </div>
          {% endfor %}
        </div>
        
      </main>
</body>
</html>