{% extends "dashboard.html" %}

{% block title %}Organizer Dashboard{% endblock title %}

      {% block specific %}
      {% comment %} Today's Events {% endcomment %}
          <div class="bg-white p-6 rounded-lg shadow mb-8">
            <h2 class="text-2xl font-bold mb-4">Today's Events</h2>
            
            {% if todays_event %}
            <table class="w-full">
              <thead>
                <tr class="text-left text-gray-500">
                  <th class="pb-2">TITLE</th>
                  <th class="pb-2">CATEGORY</th>
                  <th class="pb-2">TIME</th>
                  <th class="pb-2">LOCATION</th>
                </tr>
              </thead>
              <tbody>
              {% for event in todays_event %}
              <tr>
                <td class="py-2">
                  <div class="flex items-center">
                    <span
                      class="w-2 h-2 bg-green-500 rounded-full mr-2"
                    ></span>
                    <a href="{% url 'event-detail' event.id %}"><span>{{event}}</span></a>
                  </div>
                </td>
                <td class="py-2 text-sm text-gray-500">{{event.category.name}}</td>
                <td class="py-2 text-sm text-gray-500">{{event.time}}</td>
                <td class="py-2 text-sm text-gray-500">{{event.location}}</td>
              </tr>
              {% endfor %}
              </tbody>
            </table>
  {% else %}
    <div class="text-gray-500 text-center text-lg py-4 italic">No events found for today.</div>
  {% endif %}
          </div>
      {% endblock specific %}


  {% block dashboard %}

          {% comment %} DYNAMIC EVENTS {% endcomment %}
          <div class="bg-white p-6 rounded-lg shadow col-span-2">
            <h2 class="text-xl font-bold mb-4">{{type}}</h2>
            <table class="w-full">
              <thead>
                <tr class="text-left text-gray-500">
                  <th class="pb-2">EVENT TITLE</th>
                  <th class="pb-2">DATE</th>
                  <th class="pb-2">LOCATION</th>
                </tr>
              </thead>
              <tbody>
                {% for event in events %}
              <tr>
                <td class="py-2">
                  <div class="flex items-center">
                    <span
                      class="w-2 h-2 bg-green-500 rounded-full mr-2"
                    ></span>
                    
                    <a href="{% url 'event-detail' event.id %}"><span>{{event}}</span></a>
                  </div>
                </td>
                <td class="py-2 text-sm text-gray-500">{{event.date}}</td>
                <td class="py-2 text-sm text-gray-500">{{event.location}}</td>
                <td class="py-2">
                  <a href='{% url "update-event" event.id %}' class="bg-yellow-50 text-red-800 px-2 py-1 rounded text-sm">Update</a>
                </td>
                <td class="py-2">
                  <form action='{% url "delete-event" event.id %}' method="POST">
                    {% csrf_token %}
                    <button type='submit' class="bg-yellow-50 text-red-800 px-2 py-1 rounded text-sm">Delete</button>
                  </form>
                </td>
                
              </tr>
                {% endfor %}
                
              </tbody>
            </table>
          </div>
    {% endblock dashboard %}