<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <p><strong>Total Participants:</strong> {{ all_participants }}</p>
        <p><strong>Total Events:</strong> {{ total_events }}</p>
        <p><strong>Upcoming Events:</strong> {{ upcoming_events }}</p>
        <p><strong>Past Events:</strong> {{ past_events }}</p>
    </div>
    <div>
        <ul><p>Todays Event</p>
            {% for event in todays_event %}
            <li>
                {{event}}
            </li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <ul><p>Upcoming Events</p>
            {% for event in upcoming_events.title %}
            <li>
                {{event}}
            </li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <ul><p>Past Events</p>
            {% for event in past_events.title %}
            <li>
                {{event}}
            </li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <ul><p>Total Participants</p>
            {% for participant in all_participants.name %}
            <li>
                {{participant}}
            </li>
            {% endfor %}
        </ul>
    </div>
    
</body>
</html>